@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Open Sans', 'sans-serif';
        font-weight: 400;
        url: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
    }
}

.c-card {}

.c-card img{
    transition: transform .3s ease-in-out; 
}

.c-card img:hover{
    transform: scale(1.15);
}

.react-icons{
    vertical-align: middle;
}

.react-icons-inline{
    display: inline;
    margin-right: 4px;
}

.next, .prev{
    color: blue;
    width: 10px;
    height: 10px;
}

/* 1 product */
.width-container{
    width: 100%;
}

/* 2 product */
@media(min-width: 768px){
    .width-container{
        width: 46%;
    }
}

/* 3 product */
@media(min-width: 1280px){
    .width-container{
        width: 30%;
    }
}

/* 6 product */
@media(min-width: 1560px){
    .width-container{
        width: 14%;
    }
}